@charset "UTF-8";
body {
	padding: 0;
	margin: 0;
}

.start{
	background-img: url("Enter.JPG");
	
	bottom: 500;
}

img{
	position: absolute;
	display:block;
	margin: auto;
}

.enter{
	background-img: url("enter.png")
		
}